/* ---
fonts
------*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
    :root{
        --outer-shadow:3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
        --outer-shadow-0:0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
        --inner-shadow:inset 3px 3px 3px #d0d0d0,inset -3px -3px 3px #f8f8f8;
        --inner-shadow-0:inset 0 0 0 #d0d0d0,inset 0 0 0 #f8f8f8;
    }
}


/* ---------
global style
--------- */
body{
    @apply text-base overflow-x-hidden  leading-6 bg-neutral-50
}
body.hidden-scrolling{
    @apply overflow-y-hidden
}
*:not(i){
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
}
*{
    @apply box-border
}
.container{
    @apply m-auto
}
.row{
    @apply flex flex-wrap
}
.hover-in-shadow{
   @apply relative z-10 shadow-outer  hover:shadow-outer-0 hover:after:shadow-inner
}
.hover-in-shadow::after{
    @apply content-[''] absolute left-0 top-0 w-full h-full transition-all
}
.btn-1{
 @apply py-2 px-6 text-base font-medium text-red-light bg-transparent leading-6 cursor-pointer rounded-[30px] transition-all inline-block after:rounded-[30px]
}
.effect-wrap .effect {
    @apply -z-10 absolute
}
.effect-1{
    @apply  w-8 h-8 border-4 border-solid border-[#8a49ff] right-[10%] bottom-[10%] animate-spin-slow
}
.effect-2{
    @apply left-[3%] bottom-[20%] w-10 grid grid-cols-4 gap-1 animate-bounce-slow
}
.effect-2 div{
    @apply w-1 h-1 bg-[#ff9c07] rounded-full
}
.effect-3{
    @apply h-44 w-44 border-[25px] border-solid border-red-light rounded-full left-2/4 -top-28 animate-leftBounce
}
.effect-4{
    @apply border-t-[30px] border-t-transparent border-l-[30px] border-l-[#06d79c] left-1/3 top-[20%] animate-spin-slow
}
.effect-4::before{
    @apply content-[''] border-t-[30px] border-t-transparent border-l-[30px] border-l-[#06d79c] absolute opacity-50 -left-9 -top-6 
}
.effect-5{
    @apply w-12 h-12 right-[10%] top-1/3 flex justify-between rounded-full overflow-hidden animate-spin-slow
}
.effect-5 div{
    @apply w-[1px] bg-[#4dd0e1] 
}
.section-title{
    @apply bg-transparent py-0 px-4 flex-shrink-0 flex-grow-0 basis-full max-w-full text-center mb-14
}
.section-title h2{
    @apply bg-transparent inline-block text-xl font-bold text-neutral-900 uppercase m-0 before:content-[attr(data-heading)] before:block before:text-sm before:font-semibold before:text-red-light
}
/* ---
header
------*/
.header{
    @apply  py-5 px-4 absolute w-full top-0 left-0 z-50
}
.header .logo a{
    @apply inline-block w-10 h-10 text-center leading-9 border-2 border-red-light text-2xl text-red-light rounded-full font-semibold uppercase
}
.header .hamburger-btn{
    @apply flex items-center justify-center w-10 h-10  flex-col cursor-pointer rounded-full transition-all relative z-10 after:rounded-[24px]
}
.header .hamburger-btn span{
    @apply block h-[2px]  w-4 bg-neutral-900 relative mt-1
}
.header .hamburger-btn span::before,
.header .hamburger-btn span::after{
    @apply content-[''] absolute left-0 w-full h-full bg-neutral-900
}
/* ------------
navigation menu
------------ */
.nav-menu{
    @apply fixed bg-neutral-50 py-0 px-4 left-0 top-0 w-full h-full  overflow-y-auto -z-10 hidden opacity-0
}
.nav-menu .close-nav-menu{
    @apply w-10 h-10 block shadow-outer text-4xl leading-9 rounded-full absolute right-4 top-4 cursor-pointer text-center text-neutral-600 transition-all after:rounded-full 
}
.nav-menu-inner{
    @apply  min-h-screen relative flex items-center justify-center
}
.nav-menu-inner ul{
    @apply  p-4
}
.nav-menu-inner ul li{
    @apply block mb-5 last:mb-0 text-center
}
.nav-menu-inner ul li a{
    @apply inline-block text-3xl  font-semibold text-neutral-700 py-1 px-7 rounded-3xl capitalize transition-all after:rounded-3xl 
}
.nav-menu-inner ul li a.active{
    @apply text-red-light
}
.nav-menu .copyright-text{
    @apply absolute -left-12 top-1/2 text-base text-neutral-600 origin-center -rotate-90
}
/* ---------
home section
----------*/
.home-section{
    @apply relative
}
.home-section .full-screen{
    @apply  py-14 min-h-screen
}
.home-section .home-text,
.home-section .home-img{
    @apply flex-grow-0 flex-shrink-0 basis-2/4 max-w-[50%] py-0 px-4
}
.home-section .home-text p{
    @apply text-neutral-300 text-lg capitalize m-0
}
.home-section .home-text h2{
    @apply text-6xl font-bold text-neutral-900
}
.home-section .home-text h1{
    @apply text-xl font-medium text-neutral-700 m-0 capitalize
}
.home-section .home-text .btn-1{
    @apply mt-7
}
.home-section .home-text{
    @apply bg-transparent
}
.home-section .home-img .img-box{
    @apply  max-w-md block m-auto rounded-full p-4
}
.home-section .home-img .img-box img{
    @apply w-full rounded-full border-[10px] border-solid border-transparent
}
/* ----------
about section
-----------*/
.about-section{
    @apply bg-transparent pt-20 px-0 min-h-screen
}
.about-section .about-img{
    @apply bg-transparent flex-shrink-0 flex-grow-0 basis-full max-w-full sm:basis-2/5 sm:max-w-[40%] py-0 px-4
}
.about-section .about-img .social-links{
    @apply bg-transparent mt-5 text-center
}
.about-section .about-img .social-links a{
    @apply inline-block w-10 h-10 rounded-full text-base text-center  text-neutral-600 mx-1 transition-all after:rounded-full hover:text-red-light
}
.about-section .about-img .social-links a i{
    @apply leading-10
}
.about-section .about-img .img-box{
    @apply p-4 rounded
}
.about-section .about-img .img-box img{
    @apply w-full border-[10px] border-transparent rounded
}
.about-section .about-info{
    @apply bg-transparent py-0 px-4 flex-shrink-0 flex-grow-0 basis-full max-w-full sm:basis-3/5 sm:max-w-[60%]  mt-6 sm:mt-0
}
.about-section .about-info p{
    @apply text-base leading-6 mb-4 text-neutral-600
}
.about-section .about-info span{
    @apply font-semibold
}
.about-section .about-info .btn-1{
    @apply mt-8 ml-5
}
.about-section .about-tabs{
    @apply bg-transparent px-4 pt-14 pb-12 flex-shrink-0 flex-grow basis-full max-w-full text-center
}
.about-section .about-tabs .tab-item{
    @apply inline-block mt-0 mb-3 mx-2 py-2 px-2 rounded-full transition-all text-base text-neutral-600 font-medium capitalize cursor-pointer
}
.about-section .about-tabs .tab-item:hover:not(.active){
    @apply opacity-60
}
.about-section .about-tabs .tab-item.active{
    @apply text-red-light
}
.about-section .tab-content{
    @apply bg-transparent flex-grow-0 flex-shrink-0 basis-full max-w-full hidden
}
.about-section .tab-content.active{
    @apply block animate-fadeInTop
}
.about-section .skills{
    @apply px-10
}
.about-section .skills .row{
    @apply grid grid-cols-1 sm:grid-cols-2 gap-4
}
.about-section .skills .skill-item{
    @apply bg-transparent w-full px-4 py-0 mb-10
}
.about-section .skills .skill-item p{
    @apply text-base text-neutral-600 capitalize mb-3
}
.about-section .skills .skill-item .progress{
    @apply h-5 rounded-xl relative
}
.about-section .skills .skill-item .progress-bar{
    @apply bg-neutral-600 h-[6px] absolute left-2 top-2 rounded-xl
}
.about-section .skills .skill-item .progress-bar span{
    @apply absolute right-0 top-0 text-base font-medium text-neutral-600 -mt-10
}

.about-section .experience,
.about-section .education
{
    @apply mb-20
}
.about-section .timeline{
    @apply flex-grow-0 flex-shrink-0 basis-full max-w-full relative
}
.about-section .timeline::before{
    @apply content-[''] w-[1px] h-full absolute bg-neutral-200 left-2/4 top-0
}
.about-section .timeline .timeline-item{
    @apply flex-grow-0 flex-shrink-0 basis-full max-w-full 
}
.about-section .timeline .timeline-item:nth-child(odd){
    padding-right: calc(50% + 50px);
    text-align: right;
}
.about-section .timeline .timeline-item:nth-child(even){
    padding-left: calc(50% + 50px);
}
.about-section .timeline .timeline-item-inner{
    @apply p-7 rounded-md relative
}
.about-section .timeline .timeline-item-inner::before{
    @apply content-[''] absolute w-7 h-[1px] bg-neutral-200 top-9 -z-10
}
.about-section .timeline .timeline-item:nth-child(odd) .timeline-item-inner::before{
    @apply -right-7
}
.about-section .timeline .timeline-item:nth-child(even) .timeline-item-inner::before{
    @apply -left-7
}
.about-section .timeline .timeline-item-inner .icon{
    @apply w-10 h-10 text-center leading-10 absolute top-4 text-base border bg-neutral-50 border-neutral-200 rounded-full text-red-light
}
.about-section .timeline .timeline-item:nth-child(odd) .icon{
    @apply -right-[70px]
}
.about-section .timeline .timeline-item:nth-child(even) .icon{
    @apply -left-[70px]
}
.about-section .timeline .timeline-item-inner span{
    @apply font-medium text-red-light mb-3 capitalize
}
.about-section .timeline .timeline-item-inner h3{
    @apply text-xl text-neutral-700 font-semibold mb-1 capitalize
}
.about-section .timeline .timeline-item-inner h4{
    @apply text-base italic text-neutral-600
}
.about-section .timeline .timeline-item-inner p{
    @apply text-base text-neutral-600 leading-7 mt-4
}
/* ------------
service section
--------------*/
.service-section{
    @apply  py-20 min-h-screen
}
.service-section .service-container{
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4
}
.service-section .service-container .service-item{
    @apply p-4
}
.service-section .service-container .service-item .service-item-inner{
    @apply flex items-center justify-center flex-col py-12 px-4 rounded-md
}
.service-section .service-container .service-item .service-item-inner .icon:hover i{
    @apply text-red-light 
}
.service-section .service-container .service-item .service-item-inner .icon{
    @apply w-14 h-14 flex items-center justify-center rounded-full transition-all mb-7 relative
}
.service-section .service-container .service-item .service-item-inner .icon::after{
    @apply content-[''] absolute left-0 top-0 w-full h-full rounded-full transition-all
}
.service-section .service-container .service-item .service-item-inner .icon:hover{
    @apply shadow-inner-0
}
.service-section .service-container .service-item .service-item-inner .icon:hover::after{
    @apply shadow-outer
}
.service-section .service-container .service-item .service-item-inner .icon i{
    @apply text-2xl transition-all
}
.service-section .service-container .service-item .service-item-inner h3{
    @apply text-xl font-semibold text-neutral-700 mb-3 capitalize
}
.service-section .service-container .service-item .service-item-inner p{
    @apply text-base  text-neutral-600 leading-7 text-center
}
/* --------------
portfolio section
---------------*/
.portfolio-section{
    @apply bg-transparent py-20 min-h-screen
}
.portfolio-section .section-title{
    @apply mb-10
}
.portfolio-section .portfolio-filter{
    @apply bg-transparent px-4 flex-shrink-0 flex-grow-0 basis-full max-w-full text-center mb-5
}
.portfolio-section .filter-item{
    @apply inline-block mb-3 mx-4 py-1 px-3 rounded-full cursor-pointer font-medium text-neutral-600 capitalize text-base transition-all
}
.portfolio-section .filter-item:hover:not(.active){
    @apply opacity-60
}
.portfolio-section .filter-item.active{
    @apply text-red-light
}
.portfolio-section .portfolio-items{
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 
}
.portfolio-section .portfolio-item{
    @apply p-4 flex flex-wrap
}
.portfolio-section .portfolio-item.hide{
    @apply hidden
}
.portfolio-section .portfolio-item.show{
    @apply block animate-fadeInTop
}
.portfolio-section .portfolio-item-inner{
    @apply p-4 rounded cursor-pointer w-full
}
.portfolio-section .portfolio-item-img{
    @apply relative
}
.portfolio-section .portfolio-item-img img{
    @apply rounded w-full transition-all
}
.portfolio-section .portfolio-item-inner:hover .portfolio-item-img img{
    @apply -translate-y-6
}
.portfolio-section .portfolio-item-img .view-project{
    @apply capitalize text-base font-medium text-red-light transition-all absolute left-0 -bottom-1 -translate-y-1 -z-10 opacity-0
}
.portfolio-section .portfolio-item-inner:hover .view-project{
    @apply translate-y-0 opacity-100
}
.portfolio-section .portfolio-item-details{
    @apply hidden
}
.portfolio-section .portfolio-item-inner p{
    @apply text-base text-neutral-600 capitalize mt-3
}
/* ------------
portfolio-popup
-------------*/
.portfolio-popup{
    @apply bg-neutral-50 fixed top-0 left-0 w-full h-full z-50 overflow-y-scroll transition-all overflow-x-hidden box-border
    opacity-0 hidden
}
.portfolio-popup.open{
    @apply block opacity-100
}

.portfolio-popup .pp-details{
    @apply bg-transparent max-w-[1350px] w-5/6 m-auto 
    max-h-0 overflow-hidden opacity-0 transition-all
}
.portfolio-popup .pp-details.active{
    @apply opacity-100
}
.portfolio-popup .pp-details-inner{
    @apply py-8
}
.portfolio-popup .pp-title{
    @apply px-4
}
.portfolio-popup .pp-title h2{
    @apply text-3xl text-neutral-900 capitalize font-semibold mb-1
}
.portfolio-popup .pp-title p{
    @apply text-sm font-semibold text-neutral-600 mb-4 pb-3 border-b border-neutral-300
}
.portfolio-popup .pp-title p span{
    @apply font-normal capitalize
}
.portfolio-popup .pp-project-details h3{
    @apply text-xl font-semibold text-neutral-700 mb-4 capitalize
}
.portfolio-popup .pp-details-inner .pp-project-details .row{
    @apply grid grid-cols-3
}
.portfolio-popup .pp-details-inner .description{
    @apply col-span-2 px-4
}
.portfolio-popup .pp-details-inner .description p{
    @apply text-neutral-600  text-sm leading-6
}
.portfolio-popup .pp-details-inner .info{
    @apply col-span-1
}
.portfolio-popup .pp-details-inner .info ul li{
    @apply mb-3 last:mb-0 text-base text-neutral-600 font-semibold
}
.portfolio-popup .pp-details-inner .info ul li span{
    @apply font-normal
}
.portfolio-popup .pp-details-inner .info ul li a{
    @apply text-red-light
}
.portfolio-popup .separator{
    @apply h-[1px] w-full bg-neutral-200
}
.portfolio-popup .pp-main{
    @apply  min-h-screen max-w-[1350px] w-5/6 m-auto flex items-center justify-center
}
.portfolio-popup .pp-main-inner{
    @apply bg-transparent pt-16 pb-12 relative
}
.portfolio-popup .pp-project-details-btn{
    @apply bg-transparent absolute left-0 top-4 h-10 leading-10 text-base font-medium text-red-light rounded-full after:rounded-full cursor-pointer px-4 transition-all
}
.portfolio-popup .pp-project-details-btn i{
    @apply ml-1
}
.portfolio-popup .pp-close{
    @apply bg-transparent absolute right-0 w-10 h-10 top-4 rounded-full after:rounded-full flex items-center justify-center text-4xl text-neutral-600 cursor-pointer transition-all
}
.portfolio-popup .pp-img{
    @apply max-w-full w-auto h-auto p-3 rounded
}
.portfolio-popup .pp-counter{
    @apply absolute right-0 h-10 leading-10 bottom-1 text-base text-neutral-600
}
.portfolio-popup .pp-loader{
    @apply fixed left-0 top-0 w-full h-full bg-bgOpacity z-[100] flex items-center justify-center invisible opacity-0
}
.portfolio-popup .pp-loader.active{
    @apply visible opacity-100
}
.portfolio-popup .pp-loader div{
    @apply w-10 h-10 border-4 border-red-light rounded-full border-r-[3px] border-r-transparent animate-spin 
}
.portfolio-popup .pp-next,
.portfolio-popup .pp-prev{
    @apply fixed top-2/4 w-10 h-10 bg-transparent text-center text-xl flex items-center justify-center cursor-pointer z-[60] text-neutral-600 transition-all opacity-50 hover:opacity-100
}
.portfolio-popup .pp-prev{
    @apply left-4
}
.portfolio-popup .pp-prev i{
    @apply rotate-180
}
.portfolio-popup .pp-next{
    @apply right-4
}
/* ---------------
testimonial-secion
-------------- */
.testimonial-secion{
    @apply py-20 min-h-screen
}
.testimonial-secion .testi-box{
    @apply bg-transparent  max-w-[600px] w-full m-auto px-4
}
.testimonial-secion .testi-slider {
    @apply rounded-md overflow-hidden
}
.testimonial-secion .testi-slider .testi-slider-container{
    @apply flex transition-margin duration-1000 items-center
}
.testimonial-secion .testi-item{
    @apply p-7 text-center
}
.testimonial-secion .testi-item i{
    @apply absolute text-3xl text-neutral-600 opacity-10
}
.testimonial-secion .testi-item p{
    @apply text-base leading-7 text-neutral-600 mb-8 mt-3
}
.testimonial-secion .testi-item img{
    @apply inline-block w-full max-w-[70px]
}
.testimonial-secion .testi-item span{
    @apply mt-3 text-base font-semibold text-neutral-700 capitalize block
}
.testimonial-secion .testi-slider-nav{
    @apply mt-8 text-center 
}
.testimonial-secion .testi-slider-nav span{
    @apply w-10 h-10 rounded-full after:rounded-full text-red-light cursor-pointer transition-all text-xl inline-block last:ml-2
}
.testimonial-secion .testi-slider-nav span i{
    @apply leading-10
}