/* ---
fonts
------*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
    :root{
        --outer-shadow:3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
        --outer-shadow-0:0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
        --inner-shadow:inset 3px 3px 3px #d0d0d0,inset -3px -3px 3px #f8f8f8;
    }
}


/* ---------
global style
--------- */
body{
    @apply text-base overflow-x-hidden leading-6 bg-neutral-50
}
*:not(i){
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
}
*{
    @apply box-border
}
.container{
    @apply m-auto
}
.row{
    @apply flex flex-wrap
}
.hover-in-shadow{
   @apply relative z-10 shadow-outer  hover:shadow-outer-0 hover:after:shadow-inner
}
.hover-in-shadow::after{
    @apply content-[''] absolute left-0 top-0 w-full h-full transition-all
}

/* ---
header
------*/
.header{
    @apply  py-5 px-4 absolute w-full top-0 left-0 z-50
}
.header .logo a{
    @apply inline-block w-10 h-10 text-center leading-9 border-2 border-red-light text-2xl text-red-light rounded-full font-semibold uppercase
}
.header .hamburger-btn{
    @apply flex items-center justify-center w-10 h-10  flex-col cursor-pointer rounded-full transition-all relative z-10 after:rounded-[24px]
}
.header .hamburger-btn span{
    @apply block h-[2px]  w-4 bg-neutral-900 relative mt-1
}
.header .hamburger-btn span::before,
.header .hamburger-btn span::after{
    @apply content-[''] absolute left-0 w-full h-full bg-neutral-900
}
/* ------------
navigation menu
------------ */
.nav-menu{
    @apply fixed bg-neutral-50 py-0 px-4 left-0 top-0 w-full h-full  overflow-y-auto -z-10 hidden opacity-0
}
.nav-menu .close-nav-menu{
    @apply w-10 h-10 block shadow-outer text-4xl leading-9 rounded-full absolute right-4 top-4 cursor-pointer text-center text-neutral-600 transition-all after:rounded-full 
}
.nav-menu-inner{
    @apply  min-h-screen relative flex items-center justify-center
}
.nav-menu-inner ul{
    @apply  p-4
}
.nav-menu-inner ul li{
    @apply block mb-5 last:mb-0 text-center
}
.nav-menu-inner ul li a{
    @apply inline-block text-3xl  font-semibold text-neutral-700 py-1 px-7 rounded-3xl capitalize transition-all after:rounded-3xl 
}
.nav-menu-inner ul li a.active{
    @apply text-red-light
}
.nav-menu .copyright-text{
    @apply absolute -left-12 top-1/2 text-base text-neutral-600 origin-center -rotate-90
}